<div class='row'>
  <div class='col-lg-10 mx-auto'>
    <div class='card'>
      <div class='card-header text-center'>
        <h4 style="color: rgb(220, 53, 69);">Create New Task</h4>
      </div>
      <div class='card-body'>
        <%= form_with scope: :task, url: "/task_block/tasks", method: :post do |f| %>
          <div class="mt-3">
            <b><%= f.label :title, class: "form-label" %></b>
            <%= f.text_field :title, class: "form-control" %>
            <% if flash[:errors] && flash[:errors]["title"] %>
              <% flash[:errors]["title"].each do |message| %>
                <div><%= message %></div>
              <% end %>
            <% end %>
          </div>
          <div class="mt-3">
            <b><%= f.label :description, class: "form-label" %></b>
            <%= f.text_area :description, size:"50x5", class: "form-control" %>
            <% if flash[:errors] && flash[:errors]["description"] %>
              <% flash[:errors]["description"].each do |message| %>
                <div><%= message %></div>
              <% end %>
            <% end %>
          </div>
          <div class="mt-3">
            <%= f.radio_button :priority, 'low', type: "radio", class: "form-check btn-check", id: "success-outlined", autocomplete: "off", checked: true  %>
            <%= f.label :low, class: "btn btn-outline-success", for: "success-outlined"%>
            <%= f.radio_button :priority, 'medium', type: "radio", class: "form-check btn-check", id: "warning-outlined", autocomplete: "off" %>
            <%= f.label :medium, class: "btn btn-outline-warning", for: "warning-outlined"%>
            <%= f.radio_button :priority, 'high', type: "radio", class: "form-check btn-check", id: "danger-outlined", autocomplete: "off" %>
            <%= f.label :high, class: "btn btn-outline-danger", for: "danger-outlined" %>
          </div>

          <div class="mt-3">
            <b><%= f.label :planned_date, "Planned Date", class: "form-label" %></b><br>
            <%= f.date_field :planned_date, class: "rounded border border-1" %>
          </div>
          <div class="mt-3">
            <%= f.submit "Create Task", class: "btn btn-default btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
