<div class="list-group">
  <%= link_to new_task_block_task_path, class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-plus-circle"></i>
    Add task
  <% end %>
  <%= link_to "#", class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-search"></i>
    Search
  <% end %>
  <%= link_to pending_tasks_task_block_tasks_path, class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-inbox"></i>
    Pending
  <% end %>
  <%= link_to completed_tasks_task_block_tasks_path, class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-journal-check"></i>
    Completed
  <% end %>
  <%= link_to today_tasks_task_block_tasks_path, class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-calendar-day"></i>
    Today
  <% end %>
  <%= link_to upcoming_tasks_task_block_tasks_path, class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-calendar"></i>
    Upcoming
  <% end %>
  <%= link_to "#", class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-funnel"></i>
    Filters
  <% end %>
  <%= link_to trashed_tasks_task_block_tasks_path, class:'list-group-item list-group-item-action list-group-item-light', style: "font-size: 17px; color: rgb(220, 53, 69);" do %>
    <i class="bi bi-trash"></i>
    Trash
  <% end %>
</div>
